{% extends "mapquiz/base.html" %}

{% load i18n %}
{% block title %} {{ object.name }} {% endblock %}

{% block body %}
    <div class="container alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{% trans 'You are now at' %}:</h4>
        <p>{{ object.hint }}</p>
    </div>

    {% if final_stage %}
        <div class="jumbotron">
            <h1> {% trans 'You have completed the hunt!' %}</h1>
            <h1>{{ object.found_text }}</h1>
        </div>

    {% else %}
        <div class="container pb-lg-5 text-center">
            <h class="display-4 ">{{ object.found_text }}</h>
        </div>
        <div class="container p-3 bg-primary text-white">
            <h4>{% trans 'Next Quiz' %}:</h4>
            {% for hint in hints %}
                <div class="container h5 p-3 border">{{ hint }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container p-5"></div>

    <p class="container-fluid-sm bg-info">
        {% trans 'You are at' %}: {{ object.name }} | Lat: {{ object.lat }} | Lng: {{ object.lng }}
    </p>
{% endblock %}