{% extends "mapquiz/base.html" %}

{% load i18n %}
{% block title %} {{ object.name }} {% endblock %}

{% block body %}
    <div class="jumbotron text-center">

        {% if joining %}
            <h1>{% trans 'You are joining team' %}:</h1>
        {% else %}
            <h1>{% trans 'You are now in team' %}:</h1>
        {% endif %}
        <h1>{{ object.name }}</h1>

    </div>

    <div class="container pt-3">
        <img src="{{ object.logo.url }}" class="rounded-circle mx-auto d-block img-fluid"
             style="max-width:300px;width:100%" alt="Team Image">
    </div>
{% endblock %}